version: '3.9'
services:
  web:
    build: .
    image: trendlens/web:latest
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
    volumes:
      - ./instance:/app/instance
    restart: unless-stopped
